<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DC Dashboard</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/libs/materialize.min.css">
    <link rel="stylesheet" href="/css/libs/leaflet.css" />
    <link rel="stylesheet" href="/css/libs/sweetalert.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <style>
        .leaflet-container {
          height: 400px;
          width: 80%;
          margin: 0 auto;
        }
      </style>
  </head>
  <body>
    <div class="container-fluid">
      {{{body}}}
    </div>
      {{{js}}}
      <script src="/js/libs/materialize-0.97.7.min.js"></script>
      <script src="/js/libs/sweetalert.min.js"></script>
  </body>
</html>
