<div class="row" style="text-align:center">
  <div class="col s12 m3">
    <a class="btn" href="/site/{{profile.profile.name}}">Back to Site</a>
  </div>
  <div class="col s12 m6">
    <h1>{{profile.profile.name}}</h1>
  </div>
</div>


<div class="row" style="text-align:center">
    <div class="col s12 m6">
      <h1 id="header1"></h1>
      <div>
        <select>
          <!-- to be populated by js -->
        </select>
      </div>
      <canvas id="canvas1" width="400" height="300"></canvas>
    </div>

    <div class="col s12 m6">
      <h1 id="header2"></h1>
      <div>
        <select>
          <!-- to be populated by js -->
        </select>
      </div>
      <canvas id="canvas2" width="400" height="300"></canvas>
    </div>
</div>
