<script>
  var ua = window.navigator.userAgent;
  if(ua.indexOf('Edge/') > 0 || ua.indexOf('MSIE ') > 0 || ua.indexOf('Trident/') > 0){
    window.location = "https://lilly.ent.box.com/folder/14356172926";
  }
</script>
<div class="librarycontainer">
  <a href="/" class="btn librarybutton">Back to Map</a>
<iframe src="https://lilly.ent.box.com/embed/s/3zb8o7cncluui9gkt9f2blz8xwsbz01e?sortColumn=date&view=list&showParentPath=false"
    width="800" height="550" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
</div>
